{% load static %}
<link rel="stylesheet" href="{% static 'css/consulta.css' %}">
<title>Consulta Total</title>
<div class="container">
    <h2>Buscar Produto</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="ptn">Digite o PTN do Produto:</label>
            <input type="text" id="ptn" name="ptn" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    {% if produto %}
        <h3>Detalhes do Produto</h3>
        <div class="produto-info">
            <p><strong>Responsável Entrada:</strong> {{ produto.responsavel_entrada.nome }}</p>
            <p><strong>Data Entrada:</strong> {{ produto.data_entrada }}</p>
            <p><strong>PTN:</strong> {{ produto.ptn }}</p>
            <p><strong>Série:</strong> {{ produto.serie }}</p>
            <p><strong>Status:</strong> {{ produto.status }}</p>
            <p><strong>SKU:</strong> {{ produto.sku.sku }}</p>
            <p><strong>Modelo:</strong> {{ produto.sku.modelo }}</p>
            <p><strong>Sufixo:</strong> {{ produto.sufixo.sufixo }}</p>
        </div>
 
        <h3>Peças Associadas</h3>
        {% if pecas %}
            <div class="pecas-container">
                {% for peca in pecas %}
                    
                    <div class="peca-card">
                        <h1>{{ peca.tipo_peca_display }}</h1>
                        <h4>{{ peca.descricao }}</h4>
                        <p><strong>Part Number:</strong> {{ peca.part_number }}</p>
                        <p><strong>Posição:</strong> {{ peca.posicao }}</p>
                        <p><strong>Status:</strong> {{ peca.status }}</p>                       
                        <p><strong>Defeito:</strong> {{ peca.defeito_pecas_display }}</p>
                        {% if peca.numero_pedido %}
                            <p><strong>Numero Pedido:</strong> {{ peca.numero_pedido }}</p>
                        {% endif %}
                        
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Nenhuma peça associada.</p>
        {% endif %}
    {% endif %}
</div>
