{% extends 'base.html' %}  <!-- Estende o template base -->
{% load static %}  <!-- Mantém o carregamento de arquivos estáticos -->

{% block title %}Consulta por Número de Série{% endblock %}  <!-- Define o título da página -->

{% block extra_css %}
    <!-- CSS específico para a página de Consulta por Número de Série -->
    <link rel="stylesheet" href="{% static 'css/consulta.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Buscar Produto Por S/N</h2>

        <!-- Formulário de busca por número de série -->
        <form method="POST" action="{% url 'consulta_serie' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="serie">Digite o SN do Produto:</label>
                <input type="text" id="serie" name="serie" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <!-- Exibe os detalhes do(s) produto(s) encontrado(s) -->
        {% if produtos %}
            {% for produto in produtos %}
                <h3>Detalhes do Produto</h3>
                <div class="produto-info">
                    <p><strong>Data da entrada:</strong> {{ produto.data_entrada }}</p>
                    <p><strong>Responsável Entrada:</strong> {{ produto.responsavel_entrada.nome }}</p>
                    <p><strong>PTN:</strong> {{ produto.ptn }}</p>
                    <p><strong>Série:</strong> {{ produto.serie }}</p>
                    <p><strong>Status:</strong> {{ produto.status }}</p>
                    <p><strong>SKU:</strong> {{ produto.sku }}</p>
                    <p><strong>Modelo:</strong> {{ produto.sku.modelo }}</p>
                    <p><strong>Sufixo:</strong> {{ produto.sufixo.sufixo }}</p>
                    <p><strong>Defeito:</strong> {{ produto.defeito_especifico }}</p>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}