{% extends 'base.html' %}
{% load static %}

{% block title %}Menu Principal{% endblock %}

{% block extra_css %}
    
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="container">
        
        <h1>Produtos na Entrada</h1>
        {% for produto in produtos_entrada %}
            <p>{{ forloop.counter }}. {{ produto.ptn }}</p>
            <hr>
        {% empty %}
            <p>Nenhum produto na entrada.</p>
        {% endfor %}
        <hr>
        <br>
        
        <h1>Produtos na Triagem</h1>
        {% for produto in produtos_triagem %}
            <p>{{ forloop.counter }}. {{ produto.ptn }}</p>
            <hr>
        {% empty %}
            <p>Nenhum produto na triagem.</p>
        {% endfor %}
        <hr>
        <br>
        
        <h1>Produtos no Conserto</h1>
        {% for produto in produtos_conserto %}
            <p>{{ forloop.counter }}. {{ produto.ptn }}</p>
            <hr>
        {% empty %}
            <p>Nenhum produto no conserto.</p>
        {% endfor %}
        <hr>
        <br>

           
    </div>
{% endblock %}