{% extends 'base.html' %}  <!-- Estende o template base -->
{% load static %}  <!-- Mantém o carregamento de arquivos estáticos -->

{% block title %}Triagem{% endblock %}  <!-- Define o título da página -->

{% block extra_css %}
    <!-- CSS específico para a página de Triagem -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h2>Triagem de Produtos</h2>

        <!-- Exibe mensagens de sucesso/erro -->
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <!-- Formulário de busca de PTN -->
        <form method="POST" action="{% url 'cad_triagem' %}">
            {% csrf_token %}
            <input type="text" placeholder="PTN" name="ptn" required>
            <hr>
            <button type="submit" class="btn btn-success">Buscar</button>
        </form>
    </div>
{% endblock %}